# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.idea

# macOS
.DS_Store

# Terraform local files and state
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfplan
terraform/crash.log

# Local environment files
.env
.env.*

# Logs
*.log